<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h3>Register Yourself </h3>
        </div>
        <form>
          <div class="mb-3">
            <label for="InputFirstName" class="form-label">First Name</label>
            <input type="fname" class="form-control" id="inputFname" name="first_name" [(ngModel)]="addUserRequest.First_name">
          </div>
          <div class="mb-3">
            <label for="InputLastName" class="form-label">Last Name</label>
            <input type="lname" class="form-control" id="inputLname" name="last_name" [(ngModel)]="addUserRequest.Last_name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email_user"
             [(ngModel)]="addUserRequest.Email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="addUserRequest.Password">
          </div>
          <button type="submit" class="btn btn-primary" (click)="addUser()">Sign Up</button>
        </form>
        <h4></h4>
        <a routerLink="/" class="anchor">Already Registered! Click here to Login </a>
      </div>
    </div>
  </div>
</div>
