<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 align="left">TREFFEN</h1>
          <p>&#x2022;
             An Application to Reserve Meeting Rooms
         </p>
         <div>
          <p>&#x2022;
            Able to check the availability of Meeting Rooms
         </p>
         <p>&#x2022;
          Able to know the statistics of Meeting(Time spent,Meeting Room's utilized)
         </p>
         <p>&#x2022;
          Meeting Rooms  with No.of people <i class="fa fa-user"></i> can accommodate
         </p>
         <p>
          Jupiter - 11 <br> Mars - 4 <br> Mercury - 2 <br>
          Earth - 5 <br> Pluto - 2 <br> Venus - 4
         </p>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
