<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"><mat-icon>home</mat-icon></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="meetings">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="scheduleMeetings">Scheduled Meetings</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="treffenStatus">Add Meeting</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="meetingStats">Meeting Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="date-picker">Date Picker</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <div
           class="anchor">{{ users[0].First_name + ' ' + users[0].Last_name}}</div>
        </li>
        <li class="nav-item">
          <a class="fa fa-sign-out" aria-current="page" routerLink=""></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p>© 2023 Laxman Chowdary, LLC. All rights reserved.</p>
<router-outlet></router-outlet>
